
files/ava/*
!files/ava/.htaccess
!files/ava/no_ava.png
!files/ava/16_no_ava.png

files/forum/*
!files/forum/.htaccess

files/lib/*
!files/lib/.htaccess

files/mail/*
!files/mail/.htaccess

files/zc/*
!files/zc/.htaccess

!files/zc/screen
files/zc/screen/*
!files/zc/screen/.htaccess

info.txt
robots.txt